<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppZK9500.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AppZK9500.Properties.Settings>
            <setting name="BDServer" serializeAs="String">
                <value>Server=(localdb)\MSSQLLocalDB;Database=SecureVerify;Integrated Security=True;TrustServerCertificate=True;</value>
            </setting>
        </AppZK9500.Properties.Settings>
    </applicationSettings>
</configuration>